.grid-container {
    padding-left: 0;
    padding-right: 0;

    @include media(max-width, 1440px){
        padding-left: 20px;
        padding-right: 20px;
    }
}

section {
    
	@include media(max-width, 1440px){
		padding: 60px 0 !important;
	}
    
	@include media(max-width, 1023px){
		padding: 40px 0!important;
	}
}
