
// Select Footer Style
.footer {
    background: $color-dark;
    font-size: 18px;
    font-weight: 300;
    padding: 100px 0 60px;

    &.footer_contact {
        font-size: 15px;
        font-weight: 300;
        padding: 29px 0;

        .grid-container {
            display: flex;
            justify-content: space-between;

            @include media (max-width, 480px) {
                justify-content: center;
                flex-direction: column;
                align-items: center;
            }
        }
    }

    * {
        color: $color-white;
    }

    a {
        &:hover {
            color: $color-dblue;
        }
    }

    h4 {
        color: $color-dblue;
        font-family: $heading-font-family;
        margin: 0;
        font-weight: 600;
    }
    
    .button {
        border-color: $color-dblue;
        color:  $color-dblue;
    }

    .foottop {
        padding: 60px 0 30px;

        .logo figure{
            margin-bottom: 50px;
        }

        .button {
            width: 100%;
            margin: 0;
        }

        .information,
        .footer_menu {
            
            justify-content: space-around;
            display: flex;
        }

        .information {
            justify-content: flex-end;
            
            .call_us, .find_us, .email_us, .follow_us {
                margin-bottom: 70px;
            }

            .information_1 {
                margin-right: 60px;
            }
        }

        .footer_menu {
        
            .services_menu {
                margin: 0;

                h5 {font-weight: 17px;}

                li {
                    list-style: none;
                    
                    a{
                        color: #EEF5FF;
                        font-size: 15px;
                        font-weight: 300;
                        letter-spacing: 0;
                    }
                }
            }
            
           .menu {

                li {
                    list-style: none;
                    
                    a{
                        font-size: 17px;
                        font-weight: 400;
                    }
                }
            }
        }
    }

    .foot_logo {
        a {
            display: inline-block;
            margin:0 0 40px;
        }
        h3 {
            line-height: 1.6;
            margin:0 0 40px 30px;
            font-weight: 400;
            max-width: 390px;
        }
    }

    .foot_contact {
        position: relative;

        ul {
            margin:0;
            padding:0;

            li {
                list-style: none;
                font-size: 14px;
                padding:8px 0;

                a {
                    display: inline-block;
                    position: relative;
                    padding: 0 0 0 40px;
                    color: darken($color-white, 20%);

                    [class*=ai] {
                        position: absolute;
                        left: 0;
                        font-size: 20px;
                        color: $color-white;
                        line-height: 1.2;
                    }
                }
            }
        }
    }

    .footbot {
        padding: 20px 0;
        font-size: 15px;
        color: #949494;
        display: flex;
        justify-content: space-between;
    }
    .social_icons {
        display: flex;
        gap: 1em;
        
        h5 {
            font-size: 16px;
            text-transform: uppercase;
            margin:3px 15px 0 0;
        }        
        ul {
            display: flex;
            margin:0;
            padding:0;
            
            li {
                list-style: none;
                padding: 0 8px;
                a {

                    &:hover {
                        [class*=ai] { 
                            color: $color-primary;
                        }
                    }
                    [class*=ai] {
                        font-size: 22px;
                        color: $color-white;
                        line-height: 1.2;
                    }

                }
            }
        }
    }
    .copyright {
        float: left;
        color: #949494;
        letter-spacing: -0.02em;
    }

    .designby {
        color: #949494;
        letter-spacing: -0.02em;
         a{
            color: #949494;
         }
    }

	@include media(max-width, 1440px) {  
        padding: 40px 0;
    }

    @include media(max-width, 1300px) {  

        .foottop {
            .information {
                padding-left: 0;
                justify-content: space-around;
            } 

        }
    }   

    @include media(max-width, 1300px) {  

        .foottop {
            .button {
                width: 90%;
            } 

        }
    }   


    @media (max-width: 1240px) and (min-width: 1025px) {  

        .foottop {
            .information {
                .information_1 {
                    margin-right: 20px;
                    margin-left: 20px;
                }
            } 

        }
    }   

    @include media(max-width, 1024px) {  

        .foottop {
            .information {
                display: block;
                padding-left: 50px;

                .information_1 {
                    margin-right: 0;

                }
                .call_us, .find_us, .email_us, .follow_us {
                    margin-bottom: 20px;
                    font-size: 16px;
                }
            } 

        }

        .foot_logo { 
            margin-bottom: 40px;

            a {
                margin: 0 auto;
                text-align: center;
                width: 100%;

            }
        }
        
    }       

    @include media(max-width, 1023px) {

        .foot_logo {
            justify-content: normal;
        }

        .foottop {
            .information {
                display: flex;
                justify-content: normal;
                padding-left: 0;

                .information_1 {
                    margin-right: 60px;

                }
            } 

        }
    }
    
	@include media(max-width, 767px) {   
        text-align: center;

        .foottop {
            padding-bottom: 0;
            .information {
                display: block;

                .information_1 {
                    margin-right: 0;

                }
            }
        }

        .footer_menu {
            display: block !important;
            margin-top: 20px;
        }

        .foot_logo {
            display: block;
            a {
                margin-bottom: 10px;
            }

            h3 {
                margin-left: 0;
                margin-bottom: 15px;
                max-width: none;
            }

            .button {
                font-size: 14px;
            }
        }

        .social_icons {
            justify-content: center;
        }

        .foot_contact {
            max-width: none;
            margin-bottom: 10px;
        }

        .follow_us {
            justify-content: center;
            margin-bottom: 10px;
        }

        .copyright {
            float: none;
            text-align: center;
            margin-right: 0;
        }

        .designby {
            text-align: center;
        }
    }
    
    
	@include media(max-width, 425px) { 
          .footbot {
            flex-direction: column;
          }
    }

}