
body {
    &.admin-bar {
		header,
		.hsnav-s6 {
			top: 32px !important;
		}        
    }

    @include media(max-width, 782px) {
        
        &.admin-bar {
			header,
			.hsnav-s6 {
				top: 46px !important;
				 
			}       
            
        }
    }
}


.home {
	header {
		position: absolute !important;
		top: 0;
		width: 100%;
		margin: 0 auto;

		.hsnav-s6 {
			opacity: 1;
			background-color: transparent;
			transition: opacity 2s ease-in;

			.navbar {
				min-height: 156px;
			}
			
		}
	}
}

.no-js {
	.menu {
		.submenu  {
			display: none;
		}
	}
}


/* Header Sticky Nav Style 6 */
header {
	position: relative;
	z-index: 9999;
	
	&.overlap {
		position: absolute;
		left: 0;
		right: 0;
		z-index: 999;

		.hsnav-s6 {
			box-shadow: 0 3px 6px 0 rgba($color-black, 0.16);
		}
	}
	.hsnav-s6 {
		animation: 1s ease-in 0s 1 slideInFromTop;
		background: $color-black;
		max-width: none !important;

			
		.grid-container {
			max-width: 100%;
			padding: 0 20px;
		}
		
		&.sticky {
			position: absolute;
			position: fixed;
			left: 0;
			right: 0;
			top: 0;
		}
		&.is-stuck {
			position: fixed;
			background: $color-black;
			box-shadow: 0 3px 6px 0 rgba($color-black, 0.16);
				
			.navbar {
				min-height: 84px !important;
			}
		}

		.navbar {
			position: relative;
			min-height: 84px;
			display: flex;
			align-items: center;
			transition: all 0.3s ease;
			justify-content: space-between;

			.logo, .navlogo {
				float: left;
				// margin-left: 50px;
				// margin-top: 14px;
				width: auto;
				overflow: hidden;
			}

			.navmenu {
				padding: 14px 0;
				width: auto;

				ul.menu {					
					display: flex;
					-ms-flex-wrap: wrap;
					flex-direction: row;
					align-items: center;
				}
	

				.menu-item {

					a {
						font-size: 16px;
						text-transform: uppercase;
						padding: 18px 20px;
						line-height: 1;
						color: $color-white;
						letter-spacing: 0.1em;

					}

					&.navutil {
						a {
							&:hover {
								color: $color-primary;
							}
						}
					}

					&:not(.navutil) {
						a {
		
							&:hover {
								background: #52360C;
								color: $color-white;
								border-radius: 140px;
							}
						}	
					}
				}


				.is-dropdown-submenu-parent {
					> a {
						padding-right: 45px;

						&:after {
							border:0;
							border-right: 2px solid;
							border-bottom: 2px solid;
							width: 8px;
							height: 8px;
							transform: rotate(45deg);
							right: 20px;
							margin-top: -6px;
						}
					}
				}				

				.submenu {
					background: $color-black;
					padding: 10px;
					li {
						display: block;
						a {
							padding: 15px 20px;
						}
					}

					&.is-dropdown-submenu {
						border: 0;
					}
				}

				.nav-cta {
					margin-top: -14px;
					margin-bottom: -14px;

					a {
						background: $color-primary;
						color: $color-white;
						font-weight: bold;
						padding-top: 32px;
						padding-bottom: 30px;
					}
				}

				@include media (max-width, 1600px) {					

					a {
						font-size: 14px !important;
						padding: 18px 14px !important;
					}
					.is-dropdown-submenu-parent {
						> a {
							&:after {
								right: 0px;
							}
						}
					}
				}
				@include media (max-width, 1200px) {
						
					.is-dropdown-submenu-parent {
						> a {
							padding-right: 20px;

							&:after {
								border:0;
								border-right: 2px solid;
								border-bottom: 2px solid;
								width: 8px;
								height: 8px;
								transform: rotate(45deg);
								right: 5px;
								margin-top: -6px;
							}
						}
					}
				}
			}


			.navutil {
				float: right;
				padding-left: 15px;
				min-height: 100%;
				width: auto;
				align-items: center;

				a {
					display: flex; 
					color: $color-white;
					line-height: 1;
					text-transform: capitalize;
					transition: all 0.3s ease;
					position: relative;
					font-size: 18px !important;
    				font-weight: 700;
					align-items: center;

					&:before {
						content: url(../img/icon/icn-phone.svg);
						position: relative;
						left: 0;
						width: 15px;
						height: 15px;
						margin-right: 10px;
						top: 20%;
					}

					&.contact_item {
						.media-body {
							.media-heading {
								font-size: 18px;
								font-weight: 700;
							}
						}

						&:hover {
							.media-body {
								.media-heading {
									color: $color-primary;
								}
							}
						}
					}
				}

				ul {
					padding: 0;
					margin: 0;

					li {
						display: inline-block;
						vertical-align: middle;
						margin: 0;
						line-height: 1;

						& + li {
							border-left: 1px solid $color-white;
						}

					}
				}
			}
			
			.navicon {
				width: 50px; 
				height: 50px; 
				position: absolute;  
				right: 0; 
				font-size: 0; 
				cursor: pointer; 
				display: block;

				&:before {
					content: ""; 
					position: absolute; 
					border-top: 3px solid $color-white; 
					border-bottom: 3px solid $color-white; 
					right: 14px; 
					top: 16px; 
					width: 20px; 
					height: 19px; 
					transition: all 0.5s ease;
				}
				&:after {
					content: ""; 
					position: absolute; 
					border-top: 3px solid $color-white; 
					right: 14px; 
					top: 24px; 
					width: 29px; 
					transition: all 0.5s ease;
				}

				@at-root header.show-menu .hsnav-s6 .navicon {
					&:before {
						box-shadow: none; 
						left: 14px; 
						top: 24px; 
						height: 3px; 
						transform: rotate(-45deg); 
						border-bottom: 0; 
						width: 29px; 
					}
					&:after {
						width: 29px; 
						left: 14px; 
						top: 24px; 
						transform: rotate(45deg);
					}
				}

			} 
			
			.mobmenu {
				left: 100%;
			}
			
			@include media(min-width, 1024px) {
				.mobmenu,
				.navicon {
					display: none;
				}
			}
			@include media(max-width, 1440px) {
				
				.navmenu {
					a {
						padding: 18px 12px !important;
						font-size: 14px !important;
					}
					.is-dropdown-submenu-parent {

						> a {
							&:after {
								right: 0;
							}
						}
					}
				}
			}

			@include media(max-width, 1320px) {
				
				.navmenu {
					a {
						padding: 18px 9px !important;
					}
				}
			}

			@include media(max-width, 1366px) {
				
				.logo, .navlogo { 
					//margin-left: 30px;
				}

				.navmenu {
					a {
						padding-left: 30px;
						padding-right: 30px;
					}
				}
			}

			@include media(max-width, 1280px){
				
				.logo, .navlogo {
					figure {
						img {
							width: 180px;
						}
					}
				}
			}

			@include media(max-width, 1023px) {

				.navutil {
					margin-right: 90px;
				}

				.navutil,
				.navmenu {
					display: none;
				}

				.navicon {
					display: block;
				}

				.mobmenu {
					position: fixed;
					top: 100px;
					height: calc(100vh - 120px);
					left: 100%;
					right: 0;
					background: $color-dark;
					transition:all 0.5s ease;
					overflow: auto;
					padding: 20px;

					.button {
						width: 100%;
						color: $color-white;

						&.light.clear {
							font-size: 18px;
							font-weight: 700;
							text-transform: capitalize;

							.highlight {
								font-size: 16px;
								font-weight: 600;
							}
						}
					}

					ul {
						display: block;
						margin: 0;
						padding:10px 0; 
						width: 100%;

						li {
							text-align: left;
							display: block;
							margin: 0;

							a {
								font-size: 22px; 
								line-height: 1.1; 
								font-weight: 400; 
								color: $color-white;
								position: relative;
								padding: 0 0 10px;

								&:before {
									position: absolute; 
									left: 25px; 
									top:50%; 
									margin-top:-22px; 
								}
							}
							ul {
								margin-top: 10px;
								margin-bottom: 50px;
								padding: 0;
								padding-top: 20px;
								border-top: 1px solid #fff;

								li {
									a {
										font-weight: 300;
										text-transform: none; 
										text-align: left; 
										color: $color-white; 
										font-size: 16px;
										letter-spacing: 0.04em;

										&:hover {
											font-weight: 600;
											color: $color-lblue;
										}
									}
								}
							}
						}
					}

    				.submenu-toggle {
    					background: transparent url(../img/icon/icn-chev-down.svg) no-repeat 17px center / 15px; 
    					width:55px; 
    					height: 24px; 
    					right: 0;
						transition: all 0.3s ease;
						transform: rotate(-90deg);

    					&[aria-expanded="true"] {
							transform: rotate(0);
    					}
    					&:after {
    						content: ""; border:0;
    					}
    				}
					
					@at-root header.show-menu .hsnav-s6 {
						.mobmenu {
							display: block !important;
							left: 0;
						}

						&.is-stuck {
							.mobmenu {
								top: 80px;
							}
						}

					}

				}
			}
		}
		
		@at-root header.show-menu .hsnav-s6 {
			background: #262626;
		}

	}

	@include media (min-width, 1921px){
		
		.grid-container {
			max-width: 1410px !important;
			padding: 0;
		}

		.navbar {
			.navmenu a {
				padding: 18px 12px!important;
				font-size: 14px!important;
			}
		}
	}

	@include media (max-width, 425px){
		.navbar {
			.mobmenu {
				.button {
					font-size: 14px !important;
					padding: 10px 0px !important;
				}
			}
		}
	}
	@include media (max-width, 1023px){
		.hsnav-s6 {

			&.is-stuck {
				.navbar {
					min-height: 84px !important;
				}	

			}

			.navbar {
				min-height: 100px !important;

				.logo {
					width: 200px;
					height: auto;
					margin-top: 0;
				}
			}

		}
	}
	
	@include media (max-width, 1424px){
		.hsnav-s6 {

					
			.grid-container {
				max-width: 1410px;
			}

			.navbar {
				
				.navmenu {
					a {
						padding: 18px 10px;
					}
				}
			}

		}
	}

	@include media (max-width, 1366px){
		.hsnav-s6 {

			.navbar {
				
				.navmenu {
					a {
						padding: 18px 8px;
					}
				}

				.navutil {

					.media-body {
						.media-heading {
							font-size: 16px !important;
						}
					}
				}
			}

		}
	}
	@include media (max-width, 1120px){
		.hsnav-s6 {

			.navbar {

				.logo, .navlogo {
					figure {
						img {
							width: 150px;
						}
					}
				}
			}
		}
	}
	@include media (max-width, 1143px){
		.hsnav-s6 {

			.navbar {

				.navmenu {
					a {
						font-size: 13px !important;
					}
				}

				.navutil {
					padding-left:0;
					
					a {
						letter-spacing: 0 !important;
						&:before {
							margin-right: 5px !important;
						}
					}
				}
				
				.navmenu {
					a {
						font-size:13px;
						padding: 18px 6px;
					}
				}
			}

		}
	}
}
