
/* BLOCK FOUR COLUMNS STYLE 2 */
.cols4-s2 {
	position: relative;

	.col-item {
		position: relative;
		padding: 0 25px;
		margin-bottom: 30px;

		figure {
			margin: 0 -25px 25px;

			img {
				width: 100%;
			}
		}
	}

	
	@include media(max-width, 1023px) {

	}
}