
@font-face {
    font-family: "apt-icons";
    src:url("../fonts/apt-icons.eot");
    src:url("../fonts/apt-icons.eot?#iefix") format("embedded-opentype"),
        url("../fonts/apt-icons.woff") format("woff"),
        url("../fonts/apt-icons.ttf") format("truetype"),
        url("../fonts/apt-icons.svg#apt-icons") format("svg");
    font-weight: normal;
    font-style: normal;
  
 }

