.section_page_header {
    padding: 88px;
    position: relative;

    h1 {
        color: $color-white;
    }
}

.get_in_touch {
    padding: 140px 0 80px;

    h2 {
        font-weight: 400;
        color: $color-black;
    }

    .logo {
        margin-bottom:25px;
    }

    .follow {
        font-size: 18px;
        font-weight: 400;
        color: $color-black;
        display: flex;

        > .wp-block-group__inner-container {
            font-size: 18px;
            font-weight: 400;
            color: $color-black;
            display: flex;
            margin: 0;
            align-items: center;
        }

        .hdr {
            margin-right: 30px;
            margin-bottom: 0 !important;
        }
        .socials {
            display: flex;               
            justify-content: center;
            gap: 0.5em;

            > .wp-block-group__inner-container {
                display: flex;               
                justify-content: center;
                gap: 0.5em;
                align-items: center;
            }
        }
    }

    .icon_text {
        img {
            margin-right: 20px;
        }
    }
}

.gform_wrapper {
    width: 80%;
    
    .ct_field {
        .gfield_label {
            display: none;
        }

        input, select, textarea {
            border:0;
            border-bottom: 1px solid #000;

            &:placeholder {
                color: #BCBCBC;
            }
        }
    }
}

.section_map {
    margin-bottom: 84px;
    padding-top: 0;
}

.contact_info {
    display: flex;
    flex-wrap: wrap;

    .contact_item {
        width: 50%;
        margin-bottom: 20px;
        .media-body {
            color: $color-black;
            font-size: 18px;
        }

        .contact_phone {
            .media-body {
                color: $color-primary;
                font-weight: 600;
                font-size: 24px;
                letter-spacing: 0.1em;
            }
        }
    }

}